page-file-application-review-view {
  .text-input-ios{
    margin: 0;
    padding: 5px;
    border: 1px solid #ddd;
  }
  .right-info{
    color: #4f6475;
  }
  .idivider{
    border-top:2px solid #ddd;
  }
}
