<ion-header>
    <ion-toolbar>
        <ion-buttons start>
            <button ion-button icon-only (click)="navCtrl.pop()">
                <ion-icon name="ios-arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-segment [(ngModel)]="box" (click)="doRefresh(null)">
            <ion-segment-button value="inbox">
                收件箱
            </ion-segment-button>
            <ion-segment-button value="outbox">
                发件箱
            </ion-segment-button>
        </ion-segment>
        <ion-buttons end>
            <button ion-button icon-only (click)="doWrite()"><ion-icon name="add"></ion-icon></button>
        </ion-buttons>

    </ion-toolbar>

    <!--
    <ion-buttons ion-button icon-only end (click)="doWrite()">
        <ion-icon name="ios-add-circle-outline"></ion-icon>
    </ion-buttons>-->

    <div *ngIf="box == 'inbox'">
        <tab-slide (slideClick)="onSlideClick($event)" [slides]="pageSlides" [pageNumber]="2"></tab-slide>
    </div>

</ion-header>


<ion-content style="background: #f4f4f4;overflow: hidden;" overflow-scroll="true" class="has-header">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="正在刷新...">
        </ion-refresher-content>
    </ion-refresher>
    <div [ngSwitch]="box">
        <ion-list *ngSwitchCase="'inbox'">
            <ion-item-sliding *ngFor="let mail of list ">
                <ion-item (click)="doRead(mail.Id)">
                    <ion-avatar item-left>
                        <img src="assets/img/photo.png">
                    </ion-avatar>
                    <span>{{mail.Title}}</span>
                    <p class="font-12">来至:{{mail.SendPerson}}&emsp;{{mail.MailDate|date:"yyyy年MM月dd日 HH时mm分"}}</p>
                </ion-item>
                <ion-item-options side="right">
                    <button ion-button color="primary">
                        <ion-icon name="md-trash"></ion-icon>删除
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
        <ion-list *ngSwitchCase="'outbox'">
            <ion-item-sliding *ngFor="let mail of list ">
                <ion-item (click)="doReadOutBox(mail.Id)">
                    <ion-avatar item-left>
                        <img src="assets/img/photo.png">
                    </ion-avatar>
                    <span>{{mail.Title}}</span>
                    <p class="font-12">发至:{{mail.AccessPerson}}&emsp;{{mail.MailDate|date:"yyyy年MM月dd日 HH时mm分"}}</p>
                </ion-item>
                <ion-item-options side="right">
                    <button ion-button color="primary">
                        <ion-icon name="md-trash"></ion-icon>删除
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </div>
    <empty *ngIf="isEmpty"></empty>
    <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())" [enabled]="moredata" threshold="100px">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载中..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <!-- <ion-fab bottom right>
        <button ion-fab color="danger" (click)="doWrite()"><ion-icon name="add"></ion-icon></button>
    </ion-fab> -->

</ion-content>