<!--
  Generated template for the Mail page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-toolbar>
        <ion-segment [(ngModel)]="box">
            <ion-segment-button value="inbox">
                收件箱
            </ion-segment-button>
            <ion-segment-button value="outbox">
                发件箱
            </ion-segment-button>
        </ion-segment>

    </ion-toolbar>

    <!--
    <ion-buttons ion-button icon-only end (click)="doWrite()">
        <ion-icon name="ios-add-circle-outline"></ion-icon>
    </ion-buttons>-->

</ion-header>


<ion-content style="background: #f4f4f4;overflow: hidden;" overflow-scroll="true" class="has-header">
    <div [ngSwitch]="box" class="subbox">
        <div *ngSwitchCase="'inbox'">
            <button ion-button small (click)="check('unread')" [ngClass]="{'button-ios-calm':checkBtn.unread}">未读</button>
            <button ion-button small (click)="check('read')" [ngClass]="{'button-ios-calm':checkBtn.read}">已读</button>
            <button ion-button small (click)="check('all')" [ngClass]="{'button-ios-calm':checkBtn.all}">全部</button>
        </div>

        <div *ngSwitchCase="'outbox'">
            <button ion-button small (click)="checkDraft()" [ngClass]="{'button-ios-calm':!isDraft}">已发送</button>
            <button ion-button small (click)="checkDraft(true)" [ngClass]="{'button-ios-calm':isDraft}">草稿箱</button>
        </div>
    </div>


    <ion-scroll style="position: absolute;width: 100%;top: 52px;bottom: 0;">
        <ion-refresher on-refresh="doRefresh()"></ion-refresher>
        <div [ngSwitch]="box">
            <ion-list *ngSwitchCase="'inbox'">
                <ion-item-sliding *ngFor="let mail of inboxList " (click)="doRead(mail.jsyjid)">
                    <ion-item>
                        <ion-avatar item-left>
                            <img src="assets/img/mike.png">
                        </ion-avatar>
                        <span style="color:#2196F3;" *ngIf="mail.jszt=='未读'">●&nbsp;</span><span>{{mail.jsnr}}</span>
                        <p class="font-12">来至:{{mail.fsrName}}&emsp;{{mail.jssj}}</p>
                    </ion-item>
                    <ion-item-options side="right">
                        <button ion-button color="primary">
                            <ion-icon name="mail"></ion-icon>删除
                        </button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
            <ion-list *ngSwitchCase="'outbox'">
                <ion-item-sliding *ngFor="let mail of outboxList " (click)="doRead(mail.jsyjid)">
                    <ion-item>
                        <ion-avatar item-left>
                            <img src="assets/img/mike.png">
                        </ion-avatar>
                        <span>{{mail.jsnr}}</span>
                        <p class="font-12">发至:{{mail.fsrName}}&emsp;{{mail.jssj}}</p>
                    </ion-item>
                    <ion-item-options side="right">
                        <button ion-button color="primary">
                            <ion-icon name="mail"></ion-icon>删除
                        </button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
        </div>
        <div text-center padding style="background:#ddd;font-size:.9em;">
            <div padding>暂无消息！！！</div>
            <img src="assets/img/face/face2.png" height="100">
        </div>
        <ion-infinite-scroll ng-if="moredata" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
    </ion-scroll>

    <ion-fab bottom right>
        <button ion-fab color="danger" (click)="doWrite()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>

</ion-content>