page-mail {
    .subbox {
        padding: 5px;
        border-bottom: 1px solid #ddd;
        // .button-default-ios {
        //     color: color($colors, dark);
        //     background: transparent;
        // }
    }
    .toolbar-background-ios {
        background: #4b7ff5;
    }
    .toolbar-title-ios {
        color: #fff;
    }
}