<!--
  Generated template for the Mail page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-toolbar>
        <ion-segment [(ngModel)]="box">
            <ion-segment-button value="inbox">
                收件箱
            </ion-segment-button>
            <ion-segment-button value="outbox">
                发件箱
            </ion-segment-button>
        </ion-segment>

    </ion-toolbar>

    <!--
    <ion-buttons ion-button icon-only end (click)="doWrite()">
        <ion-icon name="ios-add-circle-outline"></ion-icon>
    </ion-buttons>-->
    <div [ngSwitch]="box" class="subbox">
        <div *ngSwitchCase="'inbox'">
            <button ion-button small (click)="checkRead('unread')" class="button-ios-light" [ngClass]="{'button-ios-calm':checkBtn.unread}">未读</button>
            <button ion-button small (click)="checkRead('read')" class="button-ios-light" [ngClass]="{'button-ios-calm':checkBtn.read}">已读</button>
            <button ion-button small (click)="checkRead('all')" class="button-ios-light" [ngClass]="{'button-ios-calm':checkBtn.all}">全部</button>
        </div>

        <div *ngSwitchCase="'outbox'">
            <button ion-button small (click)="checkDraft()" class="button-ios-light" [ngClass]="{'button-ios-calm':!isDraft}">已发送</button>
            <button ion-button small (click)="checkDraft(true)" class="button-ios-light" [ngClass]="{'button-ios-calm':isDraft}">草稿箱</button>
        </div>
    </div>

</ion-header>


<ion-content style="background: #f4f4f4;overflow: hidden;" overflow-scroll="true" class="has-header">
    <!--<ion-refresher on-refresh="doRefresh()"></ion-refresher>-->
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="正在刷新...">
        </ion-refresher-content>
    </ion-refresher>
    <div [ngSwitch]="box">
        <ion-list *ngSwitchCase="'inbox'">
            <ion-item-sliding *ngFor="let mail of inboxList " (click)="doRead(mail.Id)">
                <ion-item>
                    <ion-avatar item-left>
                        <img src="assets/img/mike.png">
                    </ion-avatar>
                    <span style="color:#2196F3;" *ngIf="mail.Status==0">●&nbsp;</span><span>{{mail.Title}}</span>
                    <p class="font-12">来至:{{mail.SendPerson}}&emsp;{{mail.MailDate|date:"yyyy年MM月dd日 HH时mm分"}}</p>
                </ion-item>
                <ion-item-options side="right">
                    <button ion-button color="primary">
                        <ion-icon name="md-trash"></ion-icon>删除
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
        <ion-list *ngSwitchCase="'outbox'">
            <ion-item-sliding *ngFor="let mail of outboxList " (click)="doReadOutBox(mail.Id)">
                <ion-item>
                    <ion-avatar item-left>
                        <img src="assets/img/mike.png">
                    </ion-avatar>
                    <span>{{mail.Title}}</span>
                    <p class="font-12">发至:{{mail.AccessPerson}}&emsp;{{mail.MailDate|date:"yyyy年MM月dd日 HH时mm分"}}</p>
                </ion-item>
                <ion-item-options side="right">
                    <button ion-button color="primary">
                        <ion-icon name="md-trash"></ion-icon>删除
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </div>
    <div *ngIf="isEmpty" text-center padding style="background:#ddd;font-size:.9em;">
        <div padding>暂无消息数据！！！</div>
        <img src="assets/img/face/face2.png" height="100">
    </div>
    <!--<ion-infinite-scroll ng-if="moredata" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>-->
    <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())" [enabled]="moredata" threshold="100px">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载中..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <ion-fab bottom right>
        <button ion-fab color="danger" (click)="doWrite()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>

</ion-content>