page-newwork-detail {
    .item-select {
        ion-label {
            -webkit-flex: initial;
            -ms-flex: initial;
            flex: initial;
            max-width: 200px;
            pointer-events: none;
        }
        ion-select {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            overflow: hidden;
            max-width: 100%;
            width: 100%;
            flex: 1;
            margin-left: 16px;
            border: 1px solid #607D8B;
            border-radius: 5px;
            &:focus {
                border: 2px solid lighten(#607D8B, .8);
            }
            .select-text {
                overflow: hidden;
                -webkit-flex: 1;
                -ms-flex: 1;
                flex: 1;
                min-width: 16px;
                font-size: inherit;
                white-space: pre-wrap;
                text-align: center;
            }
        }
    }
    .button-ios {
        padding: 0 .4em;
        width: 100%;
    }
}