page-staff-file-maintenance {
  ion-avatar{
    display: flex;
    background: #488aff;
    border-radius: 50%;
    color: #fff;
    span{
        flex: 1;
        align-self: center;
        text-align: center;
    }
  }
}
