<ion-header>

  <ion-navbar>
    <ion-title>假期分组信息</ion-title>
    <ion-buttons end>
       <button ion-button end (click)="sent(writeForm.value)">保存</button>
   </ion-buttons>
 </ion-navbar>

</ion-header>


<ion-content>
    <form [formGroup]="writeForm" (ngSubmit)="sent(writeForm.value)"   [ngClass]="{'form-readonly': readOnly}">
        <ion-list>
            <ion-item>
                <ion-label>分组年份</ion-label>
                <ion-input text-right *ngIf="readOnly" type="text" formControlName="Years" placeholder="未设置" disabled></ion-input>
                <ion-datetime *ngIf="!readonly" placeholder="点击设置" min='2018' cancelText="取消" doneText="确定" formControlName="Years" displayFormat="YYYY" pickerFormat="YYYY"></ion-datetime>
            </ion-item>

            <ion-item>
                <ion-label>分组名称</ion-label>
                <ion-input text-right  type="text" formControlName="GroupName" placeholder="未设置"></ion-input>
            </ion-item>
            <div *ngIf="!formCtrls.GroupName.valid && (formCtrls.GroupName.touched || formCtrls.GroupName.dirty )" class="validation-failed">
                <div *ngIf="writeForm.hasError('required','GroupName')">分组名称必填</div>
                <div *ngIf="writeForm.hasError('maxlength','GroupName')">最多输入12个字</div>
            </div>
            <ion-item>
                <ion-label>事假天数(天)</ion-label>
                <ion-input text-right  type="number" formControlName="LeaveDays" placeholder="未设置"></ion-input>
            </ion-item>
            <div *ngIf="!formCtrls.LeaveDays.valid && (formCtrls.LeaveDays.touched || formCtrls.SickLeaveDays.dirty )" class="validation-failed">
                <div *ngIf="writeForm.hasError('required','LeaveDays')">事假天数必填</div>
                <div *ngIf="writeForm.hasError('maxlength','LeaveDays')">最大请假天数365</div>
            </div>
            <ion-item>
                <ion-label>调休天数(天)</ion-label>
                <ion-input text-right  type="number" formControlName="TuneOffDays" placeholder="未设置"></ion-input>
            </ion-item>
            <div *ngIf="!formCtrls.TuneOffDays.valid && (formCtrls.TuneOffDays.touched || formCtrls.TuneOffDays.dirty )" class="validation-failed">
                <div *ngIf="writeForm.hasError('maxlength','TuneOffDays')">调休天数必填</div>
                <div *ngIf="writeForm.hasError('maxlength','TuneOffDays')">最大请假天数365</div>
            </div>
            <ion-item>
                <ion-label>病假天数(天)</ion-label>
                <ion-input text-right  type="number" formControlName="SickLeaveDays" placeholder="未设置"></ion-input>
            </ion-item>
            <div *ngIf="!formCtrls.SickLeaveDays.valid && (formCtrls.SickLeaveDays.touched || formCtrls.SickLeaveDays.dirty )" class="validation-failed">
                <div *ngIf="writeForm.hasError('maxlength','SickLeaveDays')">病假天数必填</div>
                <div *ngIf="writeForm.hasError('maxlength','SickLeaveDays')">最大请假天数365</div>
            </div>
            <ion-item #popoverContent (click)="checkPeople($event)">
                <ion-label stacked  style="flex: 1">参加人员</ion-label>
                <ion-note item-end>{{writeForm.value.Person || '点击选择员工'}}</ion-note>
                <!-- <p text-right>{{writeForm.value.Person || '点击选择'}}</p> -->
                <!-- <ion-textarea autotextarea type="text"  formControlName="Person" readonly="true" placeholder="点击添加"></ion-textarea> -->
            </ion-item>
            <div *ngIf="!formCtrls.Person.valid && (formCtrls.Person.touched || formCtrls.Person.dirty )" class="validation-failed">
                <div *ngIf="writeForm.hasError('maxlength','Person')">参加人员必填</div>
                <div *ngIf="writeForm.hasError('maxlength','Person')">最多输入180个字</div>
            </div>
            <ion-item>
                <ion-label stacked>分组说明</ion-label>
                <ion-textarea   autotextarea type="text"  formControlName="Description"placeholder="请输入"></ion-textarea>
            </ion-item>
            <div *ngIf="!formCtrls.Description.valid && (formCtrls.Description.touched || formCtrls.Description.dirty )" class="validation-failed">
                最多输入180个字
            </div>
        </ion-list>
    </form>
</ion-content>
