<ion-header>

  <ion-navbar>
    <ion-title>员工考勤设定</ion-title>
    <ion-buttons end>
       <button ion-button end (click)="doWrite()">
         添加
       </button>
   </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="正在刷新...">
      </ion-refresher-content>
  </ion-refresher>
  <ion-list>
      <ion-item-sliding *ngFor="let item of list;let i = index" (click)="doRead(item.Id)">
          <ion-item>
              <ion-avatar item-start><span>{{item.Years}}</span></ion-avatar>
              <span>{{item.GroupName}}</span>
              <p class="font-12">事假({{item.LeaveDays}}天)&emsp;调休({{item.TuneOffDays}}天)&emsp;病假({{item.SickLeaveDays}}天)</p>
              <p class="font-12">累计总天数：{{item.TotalDays}}天</p>
          </ion-item>
      </ion-item-sliding>
  </ion-list>
  <empty *ngIf="isEmpty"></empty>
</ion-content>
