page-notice-detail {
    .detail-header {
        position: relative;
        padding: 0 10px;
        border-bottom: 3px double #aaa;
        background: url(../assets/img/header-bg.jpg) no-repeat;
        background-size: cover;
        .right {
            position: absolute;
            right: 28px;
        }
        .detail-title {
            padding: 10px 0;
            font-size: 2rem;
        }
    }
    .detail-content {
        position: absolute;
        bottom: 0;
        top: 110px;
        left: 0;
        right: 0;
    }
    .notice-affix {
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 100%;
        border-top: 1px solid color($colors, dark);
        a {
            display: inline-block;
            height: 44px;
            line-height: 44px;
            font-size: 2rem;
        }
    }
}