<ion-header>

    <ion-navbar>
        <ion-title>事项详情</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-card>
        <ion-card-header>
            {{item.Title}}
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label>当前步骤：</ion-label>
                    <ion-input type="text" readonly [value]="item.Step" placeholder="当前步骤1"></ion-input>
                </ion-item>

                <ion-item *ngIf="isComplete">
                    <ion-label>审批模式：</ion-label>
                    <ion-input type="text" [value]="item.TemplateType" readonly placeholder="无"></ion-input>
                </ion-item>

                <div *ngIf="!isComplete">
                    <ion-item>
                        <ion-label>&emsp;流水号：</ion-label>
                        <ion-input type="text" [value]="item.WorkNumber" readonly placeholder="请输入流水号"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>审批状态：</ion-label>
                        <ion-input type="text" [value]="item.UrgencyLevel" placeholder="无" readonly></ion-input>
                    </ion-item>
                </div>
                <div [innerHTML]="item.Template | safeHTML" class="ihtml"></div>

            </ion-list>
            <ion-row style="align-items:center;margin-bottom: 10px;">
                <ion-col col-auto style="padding-left: 14px;">
                    &nbsp;相关附件：
                </ion-col>
                <ion-col col-lg-8 col-xl-6>
                    <div *ngFor="let affix of item.Attachment">
                        <button no-padding ion-button clear small (click)="download(affix.Option,affix.Text)">{{affix.Text}}</button>
                    </div>
                </ion-col>
            </ion-row>

            <ion-list>
                <!-- <ion-item  *ngIf="item.Status == '正常结束'">
                    <ion-label>审批记录：</ion-label>
                    <ion-textarea type="text" placeholder="无"></ion-textarea>
                </ion-item> -->
                <ion-item *ngIf="item.Status != '正常结束'">
                    <ion-label>审批意见：(必填)</ion-label>
                    <ion-textarea placeholder="请输入本次审批意见" [(ngModel)]="opinion" rows="2"></ion-textarea>
                </ion-item>
                <ion-item *ngIf="item.Status != '正常结束'">
                    <ion-label style="flex:none;">审批附件：</ion-label>
                    <div item-content (click)="upload()" style="flex: auto;color:cornflowerblue;">
                        {{affName != "" ? affName: '点击添加'}}
                    </div>
                </ion-item>
            </ion-list>


        </ion-card-content>
        <div *ngIf="item.Status != '正常结束'">
            <ion-row text-center>
                <ion-col col-4>
                    <button [disabled]="opinion == ''" (click)="approved(true)" ion-button icon-left clear small full>
                        <ion-icon name="md-checkmark"></ion-icon>
                        <div>审批通过</div>
                    </button>
                </ion-col>
                <ion-col col-4>
                    <button [disabled]="opinion == ''" (click)="approved(false)" ion-button icon-left clear small full>
                        <ion-icon name="md-close"></ion-icon>
                        <div>审批驳回</div>
                    </button>
                </ion-col>
                <ion-col col-4>
                    <button (click)="navCtrl.pop()" ion-button icon-left clear small full>
                        <ion-icon name="md-return-left"></ion-icon>
                        <div>返回</div>
                    </button>
                </ion-col>
            </ion-row>
        </div>
    </ion-card>

</ion-content>