<ion-header>

    <ion-navbar>
        <ion-title>事项详情</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-card>
        <ion-card-header>
            {{item.wTitle}}
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label>当前步骤：</ion-label>
                    <ion-input type="text" readonly [value]="item.fnName" placeholder="当前步骤1"></ion-input>
                </ion-item>

                <ion-item *ngIf="isComplete">
                    <ion-label>审批模式：</ion-label>
                    <ion-input type="text" [value]="item.ReviewMode" readonly placeholder="无"></ion-input>
                </ion-item>

                <div *ngIf="!isComplete">
                    <ion-item>
                        <ion-label>&emsp;流水号：</ion-label>
                        <ion-input type="text" [value]="item.wSerialNo" readonly placeholder="请输入流水号"></ion-input>
                    </ion-item>
                    <!-- <ion-item>
                        <ion-label>审批状态：</ion-label>
                        <ion-input type="text" [value]="item.UrgencyLevel" placeholder="无" readonly></ion-input>
                    </ion-item> -->
                </div>
                <div [innerHTML]="item.wContent | safeHTML" class="ihtml"></div>

            </ion-list>
            <ion-row style="align-items:center;margin-bottom: 10px;">
                <ion-col col-auto style="padding-left: 14px;">
                    &nbsp;相关附件：
                </ion-col>
                <ion-col col-lg-8 col-xl-6>
                    <div *ngFor="let affix of affixLs">
                        <button no-padding ion-button clear small (click)="download(affix.ID,affix.Name)">{{affix.Name}}</button>
                    </div>
                </ion-col>
            </ion-row>

            <ion-list *ngIf="opinionLs.length > 0">
                <ion-item-divider color="light">历史审批意见</ion-item-divider>
                <ion-item *ngFor="let opinion of opinionLs">
                    <h3>{{opinion.acContent}}</h3>
                    <p>{{opinion.ui_desc}}&emsp;{{opinion.AddTime}}</p>
                </ion-item>
            </ion-list>

            <ion-list *ngIf="!read">
                <ion-item-divider color="light">待办事项审核</ion-item-divider>
                <ion-item *ngIf="data.UrgencyLevel != '正常结束'">
                    <ion-label style="flex:none;">常用意见：</ion-label>
                    <ion-select class="iselect" [(ngModel)]="opinionSelect" (ngModelChange)="opinion=opinionSelect" cancelText="取消" okText="确定" placeholder="请选择">
                        <ion-option *ngFor="let type of item.ls;let i = index" [value]="type.Id">{{type.Name}}</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item *ngIf="data.UrgencyLevel != '正常结束'">
                    <ion-label>审批意见：</ion-label>
                    <ion-textarea placeholder="必填项-请输入本次审批意见" [(ngModel)]="opinion" rows="3"></ion-textarea>
                </ion-item>
                <ion-item *ngIf="data.UrgencyLevel != '正常结束'">
                    <ion-label style="flex:none;">审批附件：</ion-label>
                    <div item-content (click)="upload()" style="flex: auto;color:cornflowerblue;">
                        {{affName != "" ? affName: '点击添加'}}
                    </div>
                </ion-item>
            </ion-list>


        </ion-card-content>
        <div *ngIf="!read">
            <ion-row text-center>

                <ion-col *ngIf="">
                    <button [disabled]="opinion == ''" (click)="approved(0)" ion-button icon-left clear small full>
                        <ion-icon name="md-checkmark"></ion-icon>
                        <div>保存</div>
                    </button>
                </ion-col>
                <ion-col>
                    <button [disabled]="opinion == ''" (click)="approved(1)" ion-button icon-left clear small full>
                        <ion-icon name="md-checkmark"></ion-icon>
                        <div>保存并通过</div>
                    </button>
                </ion-col>
                <ion-col>
                    <button [disabled]="opinion == ''" (click)="approved(2)" ion-button icon-left clear small full>
                        <ion-icon name="md-close"></ion-icon>
                        <div>保存并驳回</div>
                    </button>
                </ion-col>
                <!-- <ion-col >
                    <button (click)="navCtrl.pop()" ion-button icon-left clear small full>
                        <ion-icon name="md-return-left"></ion-icon>
                        <div>返回</div>
                    </button>
                </ion-col> -->
            </ion-row>
        </div>
    </ion-card>

</ion-content>