page-backlog-detail {
    .item-ios {
        font-size: 1.4rem;
    }
    ion-row {
        button {
            padding: 0 0.2em;
        }
    }
    .label-ios+ion-input .text-input,
    .label-ios+ion-textarea .text-input {
        margin-left: 0;
        width: 100%;
    }
    .ihtml {
        min-height: 100px;
        overflow-x: auto;
        border-top: 5px solid #ddd;
        border-bottom: 5px solid #ddd;
        padding: 8px 0;
        margin: 10px 0;
    }


.affix-box {
    .affix-label {
        padding-left: 12px;
        padding-top: 5px;
        text-align: right;
    }
    .affix-list {
        position: relative;
        padding-left: 40px;
        background-color: #d7eaf9;
        .affix-icon {
            position: absolute;
            left: .4rem;
            display: inline-block;
            font-size: 3.6rem;
            .icon-download {
                position: absolute;
                right: 10px;
                font-size: 1.2rem
            }
        }
    }
}


}