page-backlog-detail {
    .item-ios {
        font-size: 1.4rem;
    }
    ion-row {
        button {
            padding: 0 0.2em;
        }
    }
    .label-ios+ion-input .text-input,
    .label-ios+ion-textarea .text-input {
        margin-left: 0;
        width: 100%;
    }
}