<ion-header>

    <ion-navbar>
        <ion-title>档案申请审批</ion-title>
    </ion-navbar>
    <!-- <div class="subbox">
        <div>
            <button ion-button small (click)="checkRead('审批中')" class="button-ios-light" [ngClass]="{'button-ios-calm':checkBtn['审批中']}">审批中</button>
            <button ion-button small (click)="checkRead('已同意')" class="button-ios-light" [ngClass]="{'button-ios-calm':checkBtn['已同意']}">已同意</button>
            <button ion-button small (click)="checkRead('已拒绝')" class="button-ios-light" [ngClass]="{'button-ios-calm':checkBtn['已拒绝']}">已拒绝</button>
        </div>
    </div> -->
    <div>
        <tab-slide (slideClick)="onSlideClick($event)" [slides]="pageSlides" [pageNumber]="3"></tab-slide>
    </div>
</ion-header>


<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="正在刷新...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <ion-item-sliding *ngFor="let item of list" (click)='doRead(item.Id)'>
            <ion-item>
                <ion-avatar item-start [ngClass]="{'success': (data.status == 0), 'danger': (data.status == 1)}"><span>{{item.Status}}</span></ion-avatar>
                <h2>{{item.UserName}}
                  <small float-end	 class="text-ios-primary" *ngIf="item.ApprovalDate != ''"><em>{{item.ApprovalDate}}审</em></small>
                </h2>
                <h3 class="small">申请日期：{{item.ApplicationDate}}</h3>
                <h3 class="small">查看日期: {{item.SelectDate || "未填写"}}</h3>
                <p class='small'>申请理由：{{item.Reason}}</p>
                <p class='small' *ngIf="item.SPReason != ''">审批理由：{{item.SPReason}}</p>
            </ion-item>
        </ion-item-sliding>
    </ion-list>
    <empty *ngIf="isEmpty" message="暂无此类内容！！！"></empty>
    <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())" [enabled]="moredata" threshold="100px">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载中..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
