<ion-view class="tab-mail">
    <ion-nav-title>
        <div class="header-button-bar button-bar">
            <a ng-click="showInbox()" class="button button-small" ng-class="{'button-assertive':inbox}">收件箱</a>
            <a ng-click="showOutbox()" class="button button-small" ng-class="{'button-assertive':!inbox}">发件箱</a>
        </div>

    </ion-nav-title>

    <ion-nav-buttons side="right">
        <button ng-click="doWrite()" class="button button-icon icon ion-plus-round"></button>
    </ion-nav-buttons>

    <ion-content style="background: #f4f4f4;overflow: hidden;" overflow-scroll="true" class="has-header">

        <div ng-if="inbox" class="padding" style="border-bottom: 1px solid #ddd;">
            <a ng-click="check('unread')" ng-class="{'button-calm':checkBtn.unread}" class="button button-small">未读</a>
            <a ng-click="check('read')" href="" ng-class="{'button-calm':checkBtn.read}" class="button button-small">已读</a>
            <a ng-click="check('all')" href="" ng-class="{'button-calm':checkBtn.all}" class="button button-small">全部</a>
        </div>

        <div ng-if="!inbox" class="padding" style="border-bottom: 1px solid #ddd;">
            <a ng-click="checkDraft()" ng-class="{'button-calm':!isDraft}" class="button button-small">已发送</a>
            <a ng-click="checkDraft(true)" ng-class="{'button-calm':isDraft}" class="button button-small">草稿箱</a>
        </div>

        <ion-scroll style="position: absolute;width: 100%;top: 52px;bottom: 0;">
            <ion-refresher on-refresh="doRefresh()"></ion-refresher>
            <ion-list ng-if="inbox">
                <ion-item ng-repeat="msg in inboxList" class="item-avatar item-icon-right" ng-click="doRead(msg.jsyjid)">
                    <img src="img/mike.png">
                    <span>{{msg.jsnr}}</span>
                    <p class="font-12">
                        来至:{{msg.fsrName}}</span>&emsp;{{msg.jssj}}
                    </p>
                    <i class="icon ion-ios-arrow-right Lavender"></i>

                    <ion-option-button class="calm-bg light" ng-click="$event.stopPropagation()">
                        <span>删除</span>
                    </ion-option-button>

                    <ion-option-button class="positive-bg light" ng-click="" ng-if="msg.read">
                        <span>标为已读</span>
                    </ion-option-button>
                </ion-item>
            </ion-list>
            <ion-list ng-if="!inbox">
                <ion-item ng-repeat="msg in outboxList" class="item-avatar item-icon-right" ng-click="doRead(msg.jsyjid)">
                    <img src="img/mike.png">
                    <span>{{msg.jsnr}}</span>
                    <p class="font-12">
                        发至:{{msg.fsrName}}</span>&emsp;{{msg.jssj}}
                    </p>
                    <i class="icon ion-ios-arrow-right Lavender"></i>

                    <ion-option-button class="calm-bg light" ng-click="$event.stopPropagation()">
                        <span>删除</span>
                    </ion-option-button>
                </ion-item>
            </ion-list>
            <ion-infinite-scroll ng-if="moredata" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
        </ion-scroll>
    </ion-content>

</ion-view>