<ion-header>

    <ion-navbar>
        <ion-title>工种设置</ion-title>
    </ion-navbar>
    <ion-searchbar color="dark" type="text" placeholder="请输入工种名称" [(ngModel)]="searchKey" [showCancelButton]="true" cancelButtonText="搜索" (ionCancel)="search($event, searchKey)">
    </ion-searchbar>
</ion-header>


<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="正在刷新...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <ion-item-sliding *ngFor="let item of list">
            <ion-item  (click)="doRead(item.Id, item.GZNmae)">
                <span>{{item.GZNmae}}</span>
                <p class="font-12">所属分类：{{item.GZTypeName}} </p>
                <p class="font-12" *ngIf="item.Remarks !== ''">{{item.GZMemo}}</p>
            </ion-item>
            <ion-item-options side="right">
                <button ion-button color="primary" (click)="delete(item.Id)">
                    <ion-icon name="md-trash"></ion-icon>删除
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <empty *ngIf="isEmpty"></empty>
    <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())" [enabled]="moredata" threshold="100px">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载中..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <ion-fab bottom right>
        <button ion-fab color="danger" (click)="doWrite()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>