<!--
  Generated template for the ContactsPopoverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>联系人选择</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list class="checkpeople-popover">
    <ion-item>
        <ion-label>部门选择</ion-label>
        <ion-select [(ngModel)]="dept" submitText="确定" (ngModelChange)="getRecipientsByDept(dept)"
            cancelText="取消" okText="确定">
            <ion-option  *ngFor="let item of deptItems;let i = index" [value]="item.Id">
                {{item.BmName}}
            </ion-option>
        </ion-select>
    </ion-item>
    <ion-searchbar color="danger" [(ngModel)]="name"  placeholder="请输入编码或姓名">
    </ion-searchbar>
  
    <div text-center>
        <button (click)="search()" icon-left ion-button small color="calm">
        <ion-icon name="search"></ion-icon>查询</button>
  
        <button (click)="confirm()" icon-left ion-button small color="calm">
        <ion-icon name="checkmark"></ion-icon>确定</button>
    </div>
  
    <ion-list-header>
        通讯录
    </ion-list-header>
  
    <ion-item *ngFor="let item of items;let i = index">
        <ion-label>
        {{item.Name}}({{item.Uid}})<br>
        <span>{{item.Dept}}&emsp;{{item.Duty}}</span>
        </ion-label>
        <ion-checkbox [checked]="item.checked" (ionChange)="checkPeople(i)"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
