page-login {
    ion-content {
        // background: rgba(0, 0, 0, 0.4) url(../assets/img/login-bg.jpg) no-repeat;
        // background: color($colors, primary);
        // background-size: cover;
        .fixed-content {
            background: color($colors, positive);
        }
        .scroll-content {
            padding: 0 2rem;
        }
        .login-top {
            padding: 5rem 0 7rem;
            background: transparent;
            text-align: center;
            img {
                width: 10rem;
                height: 10rem;
                margin-bottom: 1rem;
            }
            .subtitle {
                color: #fff;
                font-size: 2rem;
            }
        }
        .list-ios .item-block .item-inner {
            border-bottom: none;
        }
        .item-ios {
            background: transparent;
            border: 1px solid #fff;
            border-radius: 40px;
            margin-bottom: 18px;
            padding-left: 20px;
            color: #fff;
            ion-label {
                font-size: 28px;
                margin: 0;
            }
        }
        .login-btn {
            background: #fff;
            color: #1e86ef;
            height: 55px;
            line-height: 55px;
            font-size: 1.8rem;
        }
    }
    .validation-failed {
        color: color($colors, danger);
        padding-left: 1rem;
        background: transparent;
        margin-top: -1rem;
    }
    .input-ios .text-input-clear-icon {
        background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20512%20512'><path%20fill='rgba(255,%20255,%20255,%201)'%20d='M403.1,108.9c-81.2-81.2-212.9-81.2-294.2,0s-81.2,212.9,0,294.2c81.2,81.2,212.9,81.2,294.2,0S484.3,190.1,403.1,108.9z%20M352,340.2L340.2,352l-84.4-84.2l-84,83.8L160,339.8l84-83.8l-84-83.8l11.8-11.8l84,83.8l84.4-84.2l11.8,11.8L267.6,256L352,340.2z'/></svg>");
    }
    // input[type=file] {
    //     opacity: 0;
    // }
}