<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--.nav-decor隐藏头部-->
<ion-header class="nav-decor">

    <ion-navbar>
        <ion-title>登录</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="login-header">登录</div>
    <div class="login-top">
        <img src="../assets/img/logo.png" alt="公司logo" />
    </div>
    <form padding [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
        <ion-list>
            <ion-item>
                <ion-label color="primary">用户名</ion-label>
                <ion-input type="text" formControlName="ui_id" clearInput></ion-input>
            </ion-item>
            <div *ngIf="!loginForm.controls.ui_id.valid && loginForm.controls.ui_id.touched" class="validation-failed"> 请输入正确用户名</div>

            <ion-item>
                <ion-label color="primary">密　码</ion-label>
                <ion-input type="password" formControlName="ui_pwd" clearInput></ion-input>
            </ion-item>
            <div *ngIf="!loginForm.controls.ui_pwd.valid" class="validation-failed">请输入密码</div>

        </ion-list>
        <div padding-horizontal>
            <button ion-button block type="submit" [disabled]="!loginForm.valid||submitted">登　录</button>
        </div>
    </form>
    <ion-grid>
        <ion-row>
            <ion-col text-center (click)="findPassword()">
                <button ion-button small clear color="primary">找回密码</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>