<ion-header>

    <ion-navbar>
        <ion-title>{{isWrite ? "添加会议室" : "会议室详情"}}</ion-title>
        <ion-buttons end *ngIf="isWrite">
            <button ion-button icon-left (click)="save(setForm.value)" [disabled]="setForm.invalid">
                    <ion-icon name="ios-send"></ion-icon> 发送
                </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content>
    <form [formGroup]="setForm" (ngSubmit)="save(setForm.value)" [ngClass]="{'form-readonly': !isWrite}">
        <div>
            <ion-list>
                <ion-item>
                    <ion-label>名称</ion-label>
                    <ion-input text-right formControlName="MeetName" placeholder="请输入"></ion-input>
                </ion-item>
                <div *ngIf="formCtrls.MeetName.invalid && (formCtrls.MeetName.touched || formCtrls.MeetName.dirty )" class="validation-failed">
                    <div *ngIf="setForm.hasError('required', 'MeetName')">名称必填</div>
                    <div *ngIf="setForm.hasError('minlength', 'MeetName')">最少输入2个字</div>
                    <div *ngIf="setForm.hasError('maxlength', 'MeetName')">最多输入20个字</div>
                </div>

                <ion-item>
                    <ion-label>管理人员</ion-label>
                    <ion-input text-right formControlName="MangerPerson" placeholder="请输入"></ion-input>
                </ion-item>
                <div *ngIf="formCtrls.MangerPerson.invalid && (formCtrls.MangerPerson.touched || formCtrls.MangerPerson.dirty )" class="validation-failed">
                    <div *ngIf="setForm.hasError('required', 'MangerPerson')">管理人员必填</div>
                    <div *ngIf="setForm.hasError('minlength', 'MangerPerson')">最少输入2个字</div>
                    <div *ngIf="setForm.hasError('maxlength', 'MangerPerson')">最多输入20个字</div>
                </div>


                <ion-item>
                    <ion-label>规模容量</ion-label>
                    <ion-input text-right type="number" formControlName="Scale" placeholder="请输入"></ion-input>
                </ion-item>
                <div *ngIf="formCtrls.Scale.invalid && (formCtrls.Scale.touched || formCtrls.Scale.dirty)" class="validation-failed">
                    <div *ngIf="setForm.hasError('required', 'Scale')">必填项</div>
                    <div *ngIf="setForm.hasError('maxlength', 'Scale')">最大容量10000</div>
                </div>

                <ion-item>
                    <ion-label>联系电话<span class="optional">（选填）</span></ion-label>
                    <ion-input text-right type="number" formControlName="Phone" placeholder="请输入"></ion-input>
                </ion-item>
                <div *ngIf="formCtrls.Phone.invalid && (formCtrls.Phone.touched || formCtrls.Phone.dirty)" class="validation-failed">
                    请输入合法的联系电话
                </div>

                <ion-item>
                    <ion-label>是否有服务人员<span class="optional">（选填）</span></ion-label>
                    <ion-toggle formControlName="Flag"></ion-toggle>
                </ion-item>
                <ion-item>
                    <ion-label>所属部门<span class="optional">（选填）</span></ion-label>
                    <ion-select formControlName="DeptId" cancelText="取消" okText="确定" placeholder="请选择">
                        <ion-option *ngFor="let Dept of DeptLs;let i = index" [value]="Dept.Id">{{Dept.BmName}}</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label stacked>简介<span class="optional">（选填）</span></ion-label>
                    <ion-textarea formControlName="Detail" placeholder="请输入"></ion-textarea>
                </ion-item>
                <div *ngIf="formCtrls.Detail.invalid && (formCtrls.Detail.touched || formCtrls.Detail.dirty)" class="validation-failed">
                    最多可输入180个字
                </div>

            </ion-list>
        </div>
    </form>
</ion-content>