page-message-read {
    .message-content {
        position: absolute;
        bottom: 0;
        left: 0;
        top: 116px;
        right: 0;
        div.mydiv {
            width: 100%;
            padding: 10px;
        }
    }
    .message-reply {
        display: flex;
        position: absolute;
        bottom: 0;  
        padding-left: 5px;      
        width: 100%;
        border-top: 2px solid lighten(color($colors, positive), 10%);
        textarea.text-input-ios {
            border-right: 1px solid lighten(color($colors, positive), 20%);
            margin-right: 0;
        }
        button {
            width: 4rem;
            margin-right: 8px;
            align-self: center;
        }
    }
}
