<ion-modal-view class="tab-mail">
    <ion-header-bar class="bar bar-header bar-positive">
        <button class="button button-clear button-primary" ng-click="modalClose('forwarding')">返回</button>
        <h1 class="title">写信</h1>
        <button class="button button-clear button-primary" ng-click="">发送</button>
    </ion-header-bar>
    <ion-content overflow-scroll="true" style="">

        <div class="list" style="position: absolute;top:0;width: 100%;z-index:999;">
            <label class="item item-input">
			    <span class="input-label">收信人</span>
			    <input type="text" placeholder="请选择收件人"  ng-model="mai.jsrIDs" ng-click="openPopover($event)" />
			</label>

            <label class="item item-input">
			    <span class="input-label">信息主题</span>
			    <input type="text" placeholder="请输入信息标题" ng-model="mailDetail.jsbt" />
			</label>

            <label class="item item-input">
			    <span class="input-label">转发自</span>
			    <input type="text" ng-model="mailDetail.fsrName" disabled="disabled" />
			</label>

        </div>

        <div class="" style="padding-top:146px;">
            <textarea cols="4" rows="auto" class="padding write">----转发的邮件----</textarea>
        </div>

        <!--<div class="padding"><button class="button button-block button-energized">发送</button></div>-->
        <div class="text-center padding">
            <button ng-click="mailSende()" style="width:60px;" class="button button-small button-assertive">发送</button>&nbsp;
            <button ng-click="adddraft()" style="width:60px;" class="button button-small button-outline button-positive">存草稿</button>
        </div>

    </ion-content>

</ion-modal-view>