<ion-modal-view class="tab-mail">
    <ion-header-bar class="bar bar-header bar-positive">
        <button class="button button-clear button-primary" ng-click="modalClose('read')">返回</button>
        <h1 class="title">消息</h1>
        <button class="button button-clear button-primary" ng-click="modalOpen('forwarding')">转发</button>
    </ion-header-bar>
    <ion-content ng-click="oModal2.hide()" overflow-scroll="true" style="">

        <div class="list" style="position: absolute;top:0;width: 100%;z-index:999;">
            <label class="item item-input">
			    <span class="input-label">发送人</span>
			    <input type="text" ng-model="mailDetail.fsrName" disabled="disabled" />
			</label>

            <label class="item item-input">
			    <span class="input-label">主题</span>
			    <input type="text" ng-model="mailDetail.jsbt" disabled="disabled" />
			</label>


            <label class="item item-input">
			    <span class="input-label">发送时间</span>
			    <input type="text" ng-model="mailDetail.fssj" disabled="disabled" />
			</label>
            <div class="item row" ng-if="mailDetail.yjfj">
                <div class="col-33" style="padding-left:12px;">
                    <button ng-click="uploadFile() " class="button button-small button-calm">邮件附件</button>
                </div>
                <div class="col-66" style="position: relative;padding-left: 38px;background-color: #d7eaf9;" id="fujian">
                    <i class="icon ion-image energized" style="position:absolute;left:4px;display:inline-block;margin-top:4px;font-size:34px;"></i>
                    <div>
                        <span>text.png</span>
                        <span ng-click="" style="position:absolute;right:10px;font-size:12px">下载</span>
                        <p>2.5M
                        </p>
                    </div>
                </div>
            </div>


        </div>

        <div class="list" style="padding-top:{{mailDetail.yjfj?'196':'146'}}px;">
            <label class="item item-input">
			    <div  id="msgContent"  style="height: 100%;">
			    	{{mailDetail.jsnr}}			    								
			    </div>
			</label>
        </div>



    </ion-content>
    <div class="list message-reply">

        <div class="item item-input-inset">
            <label class="item-input-wrapper">
		    	<textarea class="w-100" name="" rows="3" cols="" placeholder="回复: "></textarea>
		    </label>
            <button class="button button-small  button-positive">发送</button>
        </div>

    </div>
</ion-modal-view>