<ion-modal-view class="tab-notice">
    <ion-header-bar class="bar bar-header bar-positive">
        <button class="button button-clear button-primary" ng-click="modalClose('write')">返回</button>
        <h1 class="title">查看公告</h1>
    </ion-header-bar>
    <ion-content class="has-footer" overflow-scroll="true">
        <!--ng-class="{'has-footer':detailNotice.fjmc}"-->
        <div id="header" class="header padding" style="position:relative;">
            <h4><span class="positive bounceInLeft animated">[{{detailNotice.gglb}}]</span>{{detailNotice.ggzt}}</h4>
            <div class="font12">
                <span>{{detailNotice.lrr}}</span>&nbsp;
                <span style="position:absolute;right:10px;">{{detailNotice.lrsj|date:"yyyy年MM月dd日 HH时mm分"}}</span>
            </div>
        </div>
        <ion-scroll class="detail-content" id="noticeContent">
            <div class="padding">有效期：{{detailNotice.kssj}}至{{detailNotice.jssj}}</div>
            <div class="notice-content padding" ng-bind-html="detailNotice.ggnr"></div>
        </ion-scroll>


    </ion-content>
    <div class="bar bar-footer">
        <!--ng-if="detailNotice.fjmc"-->
        <em>相关附件：</em>
        <div ng-click="downloadFile(detailNotice.ggfj)" class="padding-horizontal" style="background-color: #ddd;line-height: 30px;font-size: large;">
            <a>{{detailNotice.attName}}{{downloadProgress}}</a>
            <i class="icon ion-ios-download-outline"></i>
        </div>

    </div>

</ion-modal-view>