.contacts .detail-list {
	color: #888;
}

.contacts .detail-list .item {
	position: relative;
	padding-left: 50px;
	color: #888;
}

.contacts .detail-list i {
	position: absolute;
	left: 24px;
}

.contacts .detail-list span {
	padding-left: 24px;
	color: #666;
	font-weight: bold;
}