.tab-notice .notice-list p {
    font-size: 12px;
}

.tab-notice .header {
    border-bottom: 3px double #aaa;
    position: relative;
    background: url(../img/header-bg.jpg) no-repeat;
    background-size: cover;
}

.tab-notice .detail-content {
    position: absolute;
    width: 100%;
    bottom: 0;
}