<ion-header>

    <ion-navbar>
        <ion-title>档案申请查看</ion-title>
    </ion-navbar>
    <div>
        <tab-slide (slideClick)="onSlideClick($event)" [slides]="pageSlides" [pageNumber]="3"></tab-slide>
    </div>
</ion-header>


<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="正在刷新...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <ion-item-sliding *ngFor="let item of list">
            <ion-item>
                <ion-avatar item-start [ngClass]="{'success': (item.Status == '已同意'), 'danger': (item.Status == '已拒绝')}"><span>{{item.Status}}</span></ion-avatar>
                <h2>{{item.UserName}}
                    <small float-end class="text-ios-primary" *ngIf="item.ApprovalDate != ''"><em>{{item.ApprovalDate | getdatediff: false}}审</em></small>
                </h2>
                <h3 class="small">申请日期：{{item.ApplicationDate | getdatediff: false}}</h3>
                <h3 class="small" *ngIf="item.SelectDate">查看日期: {{item.SelectDate | getdatediff: true}}</h3>
                <p class='small'>理由：{{item.Reason}}</p>
            </ion-item>
        </ion-item-sliding>
    </ion-list>
    <empty *ngIf="isEmpty"></empty>
    <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())" [enabled]="moredata" threshold="100px">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载中..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <ion-fab bottom right>
        <button ion-fab color="danger" (click)="doWrite()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>