<ion-header>

    <ion-navbar>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">返回</button>
        </ion-buttons>
        <ion-title>社会关系</ion-title>
        <ion-buttons end>
            <button ion-button [disabled]='addForm.invalid' (click)="save(addForm.value)">保存</button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content>
    <form [formGroup]="addForm" (ngSubmit)="save(addForm.value)" [ngClass]="{'form-readonly': readOnly}">
        <ion-list style="position:relative;">
            <ion-item>
                <ion-label>姓名</ion-label>
                <ion-input text-right type="text" formControlName="SociologyName" placeholder="输入姓名"></ion-input>
            </ion-item>
            <div class="validation-failed" *ngIf="formCtrls.SociologyName.invalid && (formCtrls.SociologyName.touched || formCtrls.SociologyName.dirty )">
                <div *ngIf="addForm.hasError('required', 'SociologyName')">姓名必填</div>
                <div *ngIf="addForm.hasError('maxlength', 'SociologyName')">最多输入14个字</div>
            </div>
            <ion-item>
                <ion-label>年龄<span class="optional">（选填）</span></ion-label>
                <ion-input text-right type="number" formControlName="SociologyAge" placeholder="输入年龄(单位：岁)"></ion-input>
            </ion-item>
            <div class="validation-failed" *ngIf="formCtrls.SociologyAge.invalid && (formCtrls.SociologyAge.touched || formCtrls.SociologyAge.dirty )">
                最大可输入150
            </div>
            <ion-item>
                <ion-label>部门<span class="optional">（选填）</span></ion-label>
                <ion-input text-right type="text" formControlName="SociologyDeptName" placeholder="输入部门名称"></ion-input>
            </ion-item>
            <div class="validation-failed" *ngIf="formCtrls.SociologyDeptName.invalid && (formCtrls.SociologyDeptName.touched || formCtrls.SociologyDeptName.dirty )">
                最多输入20个字
            </div>
            <ion-item>
                <ion-label>职务<span class="optional">（选填）</span></ion-label>
                <ion-input text-right type="text" formControlName="SociologyDuty" placeholder="输入职务名称"></ion-input>
            </ion-item>
            <div class="validation-failed" *ngIf="formCtrls.SociologyDuty.invalid && (formCtrls.SociologyDuty.touched || formCtrls.SociologyDuty.dirty )">
                最多输入30个字
            </div>
            <ion-item>
                <ion-label>政治面貌<span class="optional">（选填）</span></ion-label>
                <ion-select formControlName="SociologyOutlook" cancelText="取消" okText="确定" placeholder="请选择">
                    <ion-option value="党员">党员</ion-option>
                    <ion-option value="中共党员">中共党员</ion-option>
                    <ion-option value="农工党员">农工党员</ion-option>
                    <ion-option value="致工党员">致工党员</ion-option>
                    <ion-option value="团员">团员</ion-option>
                    <ion-option value="预备党员">预备党员</ion-option>
                    <ion-option value="民主党派">民主党派</ion-option>
                    <ion-option value="群众">群众</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>与本人关系</ion-label>
                <ion-input text-right type="text" formControlName="SociologyByRelation" placeholder="请输入关系"></ion-input>
            </ion-item>
            <div class="validation-failed" *ngIf="formCtrls.SociologyByRelation.invalid && (formCtrls.SociologyByRelation.touched || formCtrls.SociologyByRelation.dirty )">
                <div *ngIf="addForm.hasError('required', 'SociologyByRelation')">与本人关系必填</div>
                <div *ngIf="addForm.hasError('maxlength', 'SociologyByRelation')">最多输入11个字</div>
            </div>
            <ion-item>
                <ion-label>工作单位<span class="optional">（选填）</span></ion-label>
                <ion-input text-right type="text" formControlName="SociologyUnit" placeholder="输入工作单位"></ion-input>
            </ion-item>
            <div class="validation-failed" *ngIf="formCtrls.SociologyUnit.invalid && (formCtrls.SociologyUnit.touched || formCtrls.SociologyUnit.dirty )">
                最多输入30个字
            </div>
            <ion-item>
                <ion-label>联系电话</ion-label>
                <ion-input text-right type="text" formControlName="SociologyContacNum" placeholder="输入联系电话"></ion-input>
            </ion-item>
            <div class="validation-failed" *ngIf="formCtrls.SociologyContacNum.invalid && (formCtrls.SociologyContacNum.touched || formCtrls.SociologyContacNum.dirty )">
                请输入合法的电话号码
            </div>
            <ion-item>
                <ion-label>紧急联系人<span class="optional">（选填）</span></ion-label>
                <ion-select formControlName="SociologyEmergency" cancelText="取消" okText="确定" placeholder="请选择">
                    <ion-option value="是">是</ion-option>
                    <ion-option value="否">否</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>备注<span class="optional">（选填）</span></ion-label>
                <ion-textarea text-right formControlName="SociologyMemo" placeholder="请输入备注"></ion-textarea>
            </ion-item>
            <div class="validation-failed" *ngIf="formCtrls.SociologyMemo.invalid && (formCtrls.SociologyMemo.touched || formCtrls.SociologyMemo.dirty )">
                最多输入100个字
            </div>
        </ion-list>
    </form>
</ion-content>