<!--
  Generated template for the StaffFileMaintenanceWorkExperiencePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>工作经历</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="正在刷新...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <ion-item-sliding *ngFor="let item of list; index as i">
            <ion-item (click)="doRead(item)">
                <h3>{{item.ExpStartDate | date: "yyyy-MM-dd"}}&nbsp;~&nbsp;{{item.ExpEndDate | date: "yyyy-MM-dd"}}</h3>
                <h2>{{item.ExpDuty}}</h2>
                <p>{{item.ExpDeptName}}<span *ngIf="item.ExpUnit !== ''">&nbsp;&bull;&nbsp;{{item.ExpUnit}}</span></p>
                <p *ngIf="item.ExpMemo !== ''">备注：{{item.ExpMemo}}</p>
                <ion-icon name="arrow-forward" item-end color="stable"></ion-icon>
            </ion-item>
            <ion-item-options side="right">
                <button ion-button color="primary" (click)="delete(i)"><ion-icon name="md-trash"></ion-icon>删除</button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <div text-center>
        <button (click)="add()" icon-left ion-button color="secondary" small outline round><ion-icon name="add"></ion-icon>添加</button>
    </div>
</ion-content>