<!--
  Generated template for the MeetingEditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>会议详情</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <form [formGroup]="writeForm" (ngSubmit)="save(writeForm.value)" [ngClass]="{'form-readonly': readOnly}">
        <div>
            <ion-list>
                <ion-item>
                    <ion-label>会议主题</ion-label>
                    <ion-input text-right formControlName="Title" placeholder="请输入"></ion-input>
                </ion-item>
                <div *ngIf="formCtrl.Title.invalid && (formCtrl.Title.touched || formCtrl.Title.dirty )" class="validation-failed">
                    <div *ngIf="writeForm.hasError('Title','required')">会议主题必填</div>
                    <div *ngIf="writeForm.hasError('Title','minlength')">最少输入2个字</div>
                    <div *ngIf="writeForm.hasError('Title','maxlength')">最多输入30个字</div>
                </div>

                <ion-item>
                    <ion-label>会议类型</ion-label>
                    <ion-select formControlName="TypeId" cancelText="取消" okText="确定" placeholder="请选择">
                        <ion-option *ngFor="let type of MeetTypeLs;let i = index" [value]="type.Id">{{type.Name}}</ion-option>
                        <!-- <ion-option value="2">类型2</ion-option> -->
                    </ion-select>
                </ion-item>
                <div *ngIf="!formCtrl.TypeId.valid && (formCtrl.TypeId.touched || formCtrl.TypeId.dirty )" class="validation-failed">
                    会议类型必选
                </div>

                <ion-item>
                    <ion-label>召开地点</ion-label>
                    <ion-select formControlName="PlaceId" cancelText="取消" okText="确定" placeholder="请选择">
                        <ion-option *ngFor="let place of MeetPlaceLs;let i = index" [value]="place.Id">{{place.Name}}</ion-option>
                        <!-- <ion-option value="2">类型2</ion-option> -->
                    </ion-select>
                </ion-item>
                <div *ngIf="!formCtrl.PlaceId.valid && (formCtrl.PlaceId.touched || formCtrl.PlaceId.dirty )" class="validation-failed">
                    召开地点必选
                </div>
                <ion-item>
                    <ion-label>开始时间</ion-label>
                    <ion-datetime placeholder="点击设置" cancelText="取消" doneText="确定" formControlName="StartDate" displayFormat="YYYY年MM月DD日 HH:mm" pickerFormat="YYYY MM DD HH mm"></ion-datetime>
                </ion-item>
                <div *ngIf="!formCtrl.StartDate.valid && (formCtrl.StartDate.touched || formCtrl.StartDate.dirty )" class="validation-failed">
                    开始时间必填
                </div>

                <ion-item>
                    <ion-label>结束时间</ion-label>
                    <ion-datetime placeholder="点击设置" cancelText="取消" doneText="确定" formControlName="EndDate" displayFormat="YYYY年MM月DD日 HH:mm" pickerFormat="YYYY MM DD HH mm"></ion-datetime>
                </ion-item>
                <div *ngIf="!formCtrl.EndDate.valid && (formCtrl.EndDate.touched || formCtrl.EndDate.dirty )" class="validation-failed">
                    结束时间必填
                </div>

                <ion-item>
                    <ion-label>参加人员</ion-label>
                    <ion-input text-right type="text" readonly formControlName="Person" #popoverContent (click)="checkPeople($event)" placeholder="点击添加"></ion-input>
                </ion-item>
                <div *ngIf="!formCtrl.Person.valid && (formCtrl.Person.touched || formCtrl.Person.dirty )" class="validation-failed">
                    <div *ngIf="writeForm.hasError('Person','required')">参加人员必填</div>
                    <div *ngIf="writeForm.hasError('Person','maxlength')">最多输入180个字</div>
                </div>
                <ion-item>
                    <ion-label>主持人
                        <span class="optional">（选填）</span>
                    </ion-label>
                    <ion-input #popoverContent1 (click)="checkHostName($event)" readonly text-right type="text" formControlName="HostName" placeholder="请输入"></ion-input>
                </ion-item>
                <div *ngIf="!formCtrl.HostName.valid && (formCtrl.HostName.touched || formCtrl.HostName.dirty )" class="validation-failed">
                    最多输入20个字
                </div>

                <ion-item>
                    <ion-label>参加部门
                        <span class="optional">（选填）</span>
                    </ion-label>
                    <ion-input *ngIf="readOnly" readonly ></ion-input>
                    <ion-select formControlName="DeptId" multiple="true" cancelText="取消" okText="确定" placeholder="请选择">
                        <ion-option *ngFor="let dept of DeptLs;let i = index" [value]="dept.Id">{{dept.BmName}}</ion-option>
                    </ion-select>
                </ion-item>



                <ion-item>
                    <ion-label>出席范围
                        <span class="optional">（选填）</span>
                    </ion-label>
                    <ion-input text-right type="text" formControlName="Range" placeholder="请输入"></ion-input>
                </ion-item>
                <div *ngIf="!formCtrl.Range.valid && (formCtrl.Range.touched || formCtrl.Range.dirty )" class="validation-failed">
                    最多输入180个字
                </div>

                <ion-item>
                    <ion-label>简要说明
                        <span class="optional">（选填）</span>
                    </ion-label>
                    <ion-input text-right type="text" formControlName="Detail" placeholder="请输入"></ion-input>
                </ion-item>
                <div *ngIf="!formCtrl.Detail.valid && (formCtrl.Detail.touched || formCtrl.Detail.dirty )" class="validation-failed">
                    最多输入180个字
                </div>

                <ion-item>
                    <ion-label>附件
                        <span class="optional">（选填）</span>
                    </ion-label>
                    <ion-input type="text" formControlName="FileOldName" (click)="addAffix()" placeholder="点击添加"></ion-input>
                </ion-item>
            </ion-list>
        </div>
    </form>
</ion-content>

<ion-footer *ngIf="!readOnly">
    <ion-grid no-padding>
        <ion-row>
            <ion-col>
                <button (click)="save(writeForm.value)" full ion-button type="submit" color="primary" [disabled]="writeForm.invalid">保存</button>
            </ion-col>
            <ion-col>
                <button (click)="aprove(writeForm.value)" full ion-button type="submit" color="secondary" [disabled]="writeForm.invalid">送审</button>
            </ion-col>
            <ion-col>
                <button (click)="delete()" full ion-button type="submit" color="danger" [disabled]="writeForm.invalid">删除</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>