<!--
  Generated template for the MeetingEditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
      <ion-navbar>
          <ion-title>会议详情</ion-title>
      </ion-navbar>
  
  </ion-header>
  
  
  <ion-content>
      <form [formGroup]="writeForm" (ngSubmit)="save(writeForm.value)">
          <div>
              <ion-list>
                  <ion-item>
                      <ion-label stacked>会议主题</ion-label>
                      <ion-input min-rows="1" formControlName="Title" placeholder="请输入" ></ion-input>
                  </ion-item>
  
                  <ion-item>
                      <ion-label stacked>会议类型</ion-label>
                      <ion-select formControlName="TypeId" cancelText="取消" okText="确定" placeholder="请选择">
                          <ion-option *ngFor="let type of MeetTypeLs;let i = index" [value]="type.Id">{{type.Name}}</ion-option>
                          <!-- <ion-option value="2">类型2</ion-option> -->
                      </ion-select>
                  </ion-item>
                  <ion-item>
                      <ion-label stacked>召开地点</ion-label>
                      <ion-select formControlName="PlaceId" cancelText="取消" okText="确定" placeholder="请选择">
                          <ion-option *ngFor="let place of MeetPlaceLs;let i = index" [value]="place.Id">{{place.Name}}</ion-option>
                          <!-- <ion-option value="2">类型2</ion-option> -->
                      </ion-select>
                  </ion-item>
                  <ion-item>
                      <ion-label stacked>开始时间</ion-label>
                      <ion-datetime placeholder="点击设置" cancelText="取消" doneText="确定" formControlName="StartDate" displayFormat="YYYY年MM月DD日 HH:mm" pickerFormat="YYYY MM DD HH mm"></ion-datetime>
                  </ion-item>
                  <ion-item>
                      <ion-label stacked>结束时间</ion-label>
                      <ion-datetime placeholder="点击设置" cancelText="取消" doneText="确定" formControlName="EndDate" displayFormat="YYYY年MM月DD日 HH:mm" pickerFormat="YYYY MM DD HH mm"></ion-datetime>
                  </ion-item>
                  <ion-item>
                      <ion-label stacked>参加人员</ion-label>
                      <ion-input type="text" formControlName="PersonId"  placeholder="点击添加"></ion-input>
                  </ion-item>
                  <ion-item>
                      <ion-label stacked>参加部门</ion-label>
                      <ion-select formControlName="DeptId" multiple="true"  cancelText="取消" okText="确定" placeholder="请选择">
                        <ion-option *ngFor="let dept of DeptLs;let i = index" [value]="dept.Id">{{dept.BmName}}</ion-option>
                      </ion-select>
                  </ion-item>
                  <ion-item>
                      <ion-label stacked>主持人</ion-label>
                      <ion-input type="text" formControlName="HostName"  placeholder="请输入"></ion-input>
                  </ion-item>
                  <ion-item>
                      <ion-label stacked>出席范围</ion-label>
                      <ion-input type="text" formControlName="Range"  placeholder="请输入"></ion-input>
                  </ion-item>
                  <ion-item>
                      <ion-label stacked>简要说明</ion-label>
                      <ion-input type="text" formControlName="Detail"  placeholder="请输入"></ion-input>
                  </ion-item>
                  <ion-item>
                      <ion-label stacked>附件</ion-label>
                      <ion-input type="text" formControlName="FileOldName"  (click)="addAffix()" placeholder="点击添加"></ion-input>
                  </ion-item>
              </ion-list>
              <div padding text-center >
                  <button *ngIf="!readOnly"  ion-button type="submit" color="danger" [disabled]="!writeForm.valid">保存</button>
                  <button ion-button clear small navPop>返回</button>
              </div>
          </div>
      </form>
  </ion-content>
