<ion-header>
    <ion-toolbar>
        <ion-title>
            修改
        </ion-title>
        <ion-buttons>
            <button ion-button (click)="dismiss()">关闭</button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="editPasswordForm" (ngSubmit)="confirm()">
        <ion-list>
            <ion-item>
                <ion-label>&emsp;原密码：</ion-label>
                <ion-input placeholder="请输入原密码" type="password" formControlName="oldPassword"></ion-input>
            </ion-item>
            <span padding-left *ngIf="!editPasswordForm.controls.oldPassword.valid&& editPasswordForm.controls.oldPassword.touched" color="danger">请输入手机号码</span>
            <ion-item>
                <ion-label>&emsp;新密码：</ion-label>
                <ion-input placeholder="请输入新密码" type="password" formControlName="nwePassword"></ion-input>
            </ion-item>
            <span padding-left *ngIf="!editPasswordForm.controls.nwePassword.valid&& editPasswordForm.controls.nwePassword.touched" color="danger">请输入验证码</span>
            <ion-item>
                <ion-label>确认密码：</ion-label>
                <ion-input placeholder="请再次输入新密码" type="password" formControlName="confirmPassword"></ion-input>
            </ion-item>
            <span padding-left *ngIf="!editPasswordForm.controls.confirmPassword.valid&& editPasswordForm.controls.confirmPassword.touched" color="danger">请输入新密码</span>
        </ion-list>
        <div padding-horizontal>
            <button color="danger" ion-button block type="submit" [disabled]="!editPasswordForm.valid || nwePassword!=confirmPassword">确　认</button>
        </div>
    </form>
</ion-content>