<!--
  Generated template for the CarAddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>新增车辆</ion-title>
  </ion-navbar>

</ion-header>



<ion-content>
    <form [formGroup]="addForm" (ngSubmit)="save(addForm.value)">
        <div>
            <ion-list>
                <ion-item>
                    <ion-label stacked>车牌号</ion-label>
                    <ion-input type="text" formControlName="BusNumber" placeholder="请输入" ></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>车辆名称</ion-label>
                    <ion-input type="text" formControlName="BusName" placeholder="请输入" ></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>核载人数</ion-label>
                    <ion-input type="number" formControlName="BusPassenger" placeholder="请输入" ></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>启用时间</ion-label>
                    <ion-datetime formControlName="StartDate" placeholder="点击设置" cancelText="取消" doneText="确定" displayFormat="YYYY-MM-DD" pickerFormat="YYYY MM DD"></ion-datetime>
                </ion-item>
                <ion-item>
                    <ion-label stacked>购买价(万)</ion-label>
                    <ion-input type="number" formControlName="BusBuyPrice" placeholder="请输入" ></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>残值(万)</ion-label>
                    <ion-input type="number" formControlName="Salvage" placeholder="请输入" ></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>厂牌型号</ion-label>
                    <ion-input type="text" formControlName="BusLicensePlate" placeholder="请输入" ></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>发动机号</ion-label>
                    <ion-input type="text" formControlName="BusEngineNumber" placeholder="请输入" ></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>车架号</ion-label>
                    <ion-input type="text" formControlName="BusFrameNumber" placeholder="请输入" ></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>行驶证号</ion-label>
                    <ion-input type="text" formControlName="BusDrivingLicenseNumber" placeholder="请输入" ></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label stacked>管理人员</ion-label>
                    <ion-select formControlName="BusManger" cancelText="取消" okText="确定" placeholder="请选择">
                        <ion-option *ngFor="let type of MeetTypeLs;let i = index" [value]="type.Id">{{type.Name}}</ion-option>
                        <!-- <ion-option value="2">类型2</ion-option> -->
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label stacked>车辆状况</ion-label>
                    <ion-select formControlName="BusStatus" cancelText="取消" okText="确定" placeholder="请选择">
                        <ion-option *ngFor="let status of BusStatusLs;let i = index" [value]="status.Status">{{status.Status}}</ion-option>
                    </ion-select>
                </ion-item>
     
                <ion-item>
                    <ion-label stacked>年检日期</ion-label>
                    <ion-datetime formControlName="BusAnnualInspection"  placeholder="点击设置" cancelText="取消" doneText="确定" displayFormat="YYYY-MM-DD" pickerFormat="YYYY MM DD"></ion-datetime>
                </ion-item>
                <ion-item>
                    <ion-label stacked>维保日期</ion-label>
                    <ion-datetime formControlName="BusMaintenanceDate" placeholder="点击设置" cancelText="取消" doneText="确定" displayFormat="YYYY-MM-DD" pickerFormat="YYYY MM DD"></ion-datetime>
                </ion-item>
                <ion-item>
                    <ion-label stacked>保险日期</ion-label>
                    <ion-datetime formControlName="BusDated" placeholder="点击设置" cancelText="取消" doneText="确定" displayFormat="YYYY-MM-DD" pickerFormat="YYYY MM DD"></ion-datetime>
                </ion-item>

                <ion-item>
                    <ion-label stacked>备注</ion-label>
                    <ion-textarea formControlName="BusMemo" type="text" placeholder="请输入"></ion-textarea>
                </ion-item>

            </ion-list>
            <div padding text-center>
                <button ion-button type="submit" color="danger"  [disabled]="!addForm.valid">保存</button>
                <button ion-button clear small navPop>取消</button>
            </div>
        </div>
    </form>
</ion-content>