page-sms-read {
    .sms-content {
        position: absolute;
        bottom: 0;
        left: 0;
        top: 110px;
        right: 0;
        div.mydiv {
            width: 100%;
            padding: 10px;
        }
    }
}
