@import "./../../assets/images/stylesheets/account";
page-account-new {
    .top {
        padding-top: 2rem;
        text-align: center;
        background: #4B7FF5;
        .photo {
            display: inline-block;
            width: 8.3rem;
            height: 8.3rem;
            border-radius: 50%;
        }
        h5 {
            margin-bottom: 2em;
            color: #fff;
        }
        .subtitle {
            position: relative;
            padding: 0 1em 1em;
            background: transparent;
            .grid {
                background: #fff;
                border-radius: .5rem;
                box-shadow: 0px 2px 6px #c0ebf7;
                position: relative;
                .col {
                    text-align: center;
                    div {
                        font-size: 3.25rem;
                    }
                }
            }
            div.blockingtop-bg {
                position: absolute;
                left: -1em;
                right: -1em;
                display: block;
                height: 100%;
                background: #fff;
                background-size: cover;
                z-index: 0;
                border-radius: 50% 50% 0 0;
            }
        }
    }
    .item>ion-icon,
    .item-inner>ion-icon {
        min-height: auto;
    }
    .tab-content {
        top: 200px;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
    }
    .padding-bottom44 {
        padding-bottom: 44px;
    }
    .list-ios {
        margin: -1px 0 1em 0;
    }
    .imformation {
        .ilist {
            img {
                width: 3rem;
                height: 2rem;
            }
        }
        .list-ios {
            .item-block .item-inner {
                border-bottom: none;
            }
            >.item-block:first-child {
                border-top: none;
            }
            .item-ios {
                border-bottom: 1px solid #E3E6E8;
            }
        }
    }
}